
<h2>Liste des produit</h2>
    <div class="col col-lg-12">
      <div class="row">
        <div *ngFor="let p of prodsList" class="col col-lg-3-custom">
          <h3>{{p.nom}}</h3>
          <div class="col col-lg-12">
            <img src="../../../assets/img/{{p.image}}">
          </div>
          <div class="col col-lg-12" style="padding: 13px;">
            <div style="float: left;"><label class="label">PRIX:&nbsp;</label>{{p.prix}} €</div>
            <div style="float: right;"><label class="label">QUANTITE:&nbsp;</label>{{p.quantite}}</div>
          </div>
          <div class="col col-lg-12">
              <button class="btn btn-primary" (click)="editProduit(p)" style="float: left;">Edit</button>
              <button [disabled]="p.quantite === 0" class="btn btn-info" style="float: right;" (click)="addProdToCommande(p)">Commander</button>
              <br><button class="btn btn-danger" (click)="deleteProd(p.id)" 
              style="width: 100%; margin-top: 5px;">Supprimer</button>
          </div>
        </div>
      </div>
    </div>