<h2>Ajout Produit</h2>
<br>
<div class="col col-lg-12">
  <div class="row">
    <div class="col col-lg-3">
      <label class="label">Nom:&nbsp;</label><input class="input" type="text" [(ngModel)]="prod.nom" name="nom">
    </div>
    <div class="col col-lg-3">
      <label class="label">Prix:&nbsp;</label><input class="input" type="text" [(ngModel)]="prod.prix" name="prix">
    </div>
    <div class="col col-lg-3">
      <label class="label">Quantité:&nbsp;</label><input class="input" type="number" [(ngModel)]="prod.quantite" name="quantite">
    </div>
    <div class="col col-lg-3">
      <button class="btn btn-success" (click)="addProduit()">{{mode}} le produit</button>
    </div>
  </div>
</div>
<hr>